<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>SCCameraKitAPIToken</key>
	<string>eyJhbGciOiJIUzI1NiIsImtpZCI6IkNhbnZhc1MyU0hNQUNQcm9kIiwidHlwIjoiSldUIn0.eyJhdWQiOiJjYW52YXMtY2FudmFzYXBpIiwiaXNzIjoiY2FudmFzLXMyc3Rva2VuIiwibmJmIjoxNzY5OTk5Mjc3LCJzdWIiOiI2YzY4YmRmYy1lMGQ1LTRjNDYtOWQxNC05MzE1YjAwNTExYjF-UFJPRFVDVElPTn5kZjljNDZkOS0xOTViLTQ2YjMtYTA5NC1mODg3NjFmZTFiYzAifQ.wnVHTm7ZLd7dJnddENjWd-MtTUGRdVXCYmcaGukwI08</string>
	<key>SCCameraKitClientID</key>
	<string>6c68bdfc-e0d5-4c46-9d14-9315b00511b1</string>
</dict>
</plist>
